body
{
  background-color: hsl(240, 5%, 100%);
  margin-top: 0;
}

h1
{
  color: hsl(240, 70%, 40%);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto;
  font-weight: 100;
  font-size: 250%;
}

p
{
  color: hsl(240, 20%, 40%);
  font-family: Roboto;
  font-weight: 300;
  margin-bottom: 0;
  margin-left: 5%;
  font-size: 150%;
}

.title_box
{
  margin: auto;
  margin-top: 0;
  margin-bottom: 5%;
  background-image: url("images/pangolin_on_tail.webp");
  /* image source: https://www.npr.org/sections/thetwo-way/2016/09/28/495778859/pangolins-the-artichoke-with-legs-earn-top-trade-protection */
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 75%;
}

.title
{
  background-color: hsla(240, 50%, 50%, 40%);
  color: hsl(240, 50%, 80%);
  width: 100%;
  font-family: Roboto;
  font-weight: 300;
  font-size: 300%;
  text-align: center;
  padding-bottom: 5;
}

.page_section
{
  margin: auto;
  margin-bottom: 5%;
  width: 80%;
}
